*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

header {
    display: grid;
    grid-template-columns: auto auto;
}

.header-container-navbar-left {
    display: flex;
    padding-top: 1.25em;
}

#nav-about {
    color: rgb(30, 30, 30);
    font-family: arial, sans-serif;
    font-size: 14px;
    letter-spacing: 0.005em;
    padding-left: 1.85em;
    padding-right: 1.4em;
    text-decoration: none;
}

#nav-about:hover {
    text-decoration: underline;
}

#nav-store {
    color: rgb(30, 30, 30);
    font-family: arial, sans-serif;
    font-size: 14px;
    letter-spacing: 0.005em;
    text-decoration: none;
}

#nav-store:hover {
    text-decoration: underline;
}

.header-grid-child {
    justify-self: end;
    display: flex;
}

.header-container-navbar-right {
    display: flex;
    padding-top: 1.25em;
    padding-right: 1.7em;
}

#nav-gmail {
    color: rgb(30, 30, 30);
    font-family: arial, sans-serif;
    font-size: 13px;
    letter-spacing: 0.005em;
    padding-right: 1.1em;
    text-decoration: none;
}

#nav-gmail:hover {
    text-decoration: underline;
}

#nav-images {
    color: rgb(30, 30, 30);
    font-family: arial, sans-serif;
    font-size: 13px;
    letter-spacing: 0.005em;
    text-decoration: none;
}

#nav-images:hover {
    text-decoration: underline;
}

.navbar-apps {
    padding-top: 1.1em;
    padding-right: 1.2em;
}

.navbar-account {
    padding-top: 0.8em;
    padding-right: 1.1em;
}

/* Center Content */

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 208px;
}

input:focus {
    outline: none;
}

.searchbar-container {
    position: relative;
    display: flex;
    padding-top: 22px;
    min-width: 584px;
}

.search-icon {
    position: absolute;
    padding-top: 15px;
    padding-left: 17px;
}

.searchbar {
    background-color: white;
    border-radius: 50px;
    border: 1px solid rgb(221, 221, 221);
    font-family: arial,sans-serif;
    font-size: 16px;
    height: 46px;
    padding-left: 47px;
    width: 100%;
}

.searchbar:hover {
    box-shadow: 0 0 5px 1.5px rgb(221, 221, 221);
    border: hidden;
}

.clear-search-icon {
    position: absolute;
    padding-top: 11px;
    margin-left: 542.5px;
    cursor: pointer;
    visibility: hidden;
}

.searchbar-buttons {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.google-button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    box-sizing: border-box;
    color: #3c4043;
    display: inline-block;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 9px 4px;
    min-width: 50px;
    padding: 0 16.5px;
    line-height: 27px;
    height: 36px;
    text-align: center;
    cursor: pointer;
}

.google-button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

#lucky-button {
    margin-left: 7px;
}