*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

header {
    display: grid;
    grid-template-columns: auto auto;
}

.header-container-navbar-left {
    display: flex;
    padding-top: 1.25em;
}

#nav-about {
    color: rgb(30, 30, 30);
    font-family: arial, sans-serif;
    font-size: 14px;
    letter-spacing: 0.005em;
    padding-left: 1.85em;
    padding-right: 1.4em;
    text-decoration: none;
}

#nav-about:hover {
    text-decoration: underline;
}

#nav-store {
    color: rgb(30, 30, 30);
    font-family: arial, sans-serif;
    font-size: 14px;
    letter-spacing: 0.005em;
    text-decoration: none;
}

#nav-store:hover {
    text-decoration: underline;
}

.header-grid-child {
    justify-self: end;
    display: flex;
}

.header-container-navbar-right {
    display: flex;
    margin-top: 1.25em;
    padding-right: 19.5px;
}

#nav-gmail {
    color: rgb(30, 30, 30);
    font-family: arial, sans-serif;
    font-size: 13px;
    letter-spacing: 0.005em;
    padding-right: 1.1em;
    text-decoration: none;
}

#nav-gmail:hover {
    text-decoration: underline;
}

#nav-images {
    color: rgb(30, 30, 30);
    font-family: arial, sans-serif;
    font-size: 13px;
    letter-spacing: 0.005em;
    text-decoration: none;
}

#nav-images:hover {
    text-decoration: underline;
}

.navbar-apps {
    border-radius: 50%;
    margin-top: 10px;
    margin-right: 7.5px;
    margin-bottom: 0px;
    position: relative;
    width: 40px;
    height: 40px;
}

.navbar-apps:hover {
    background-color: #f2f2f2;
}

#nav-google-apps-icon {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar-account {
    border-radius: 50%;
    margin-top: 9.805px;
    margin-right: 14.108px;
    position: relative;
    width: 40px;
    height: 40px;
}

.navbar-account:hover {
    background-color: #f2f2f2;
}

#nav-google-account-icon {
    position: absolute;
    top: 55%;
    left: 49%;
    transform: translate(-50%, -50%);
}

/* Center Content --------------------------------------------------------------------*/


.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 208px;
}

input:focus {
    outline: none;
}

.searchbar-container {
    position: relative;
    display: flex;
    padding-top: 22px;
    min-width: 584px;
}

.search-icon {
    position: absolute;
    padding-top: 15px;
    padding-left: 17px;
}

.searchbar {
    background-color: white;
    border-radius: 50px;
    border: 1px solid rgb(221, 221, 221);
    font-family: arial,sans-serif;
    font-size: 16px;
    height: 46px;
    padding-left: 47px;
    width: 100%;
}

.searchbar:hover {
    box-shadow: 0 0 5px 1.5px rgb(221, 221, 221);
    border: hidden;
}

.clear-search-icon {
    position: absolute;
    padding-top: 11px;
    margin-left: 542.5px;
    cursor: pointer;
    visibility: hidden;
}

.searchbar-buttons {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.google-button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    box-sizing: border-box;
    color: #3c4043;
    display: inline-block;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 9px 4px;
    min-width: 50px;
    padding: 0 16.5px;
    line-height: 27px;
    height: 36px;
    text-align: center;
    cursor: pointer;
}

.google-button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

#lucky-button {
    margin-left: 7px;
}

/* Footer --------------------------------------------------------------------------*/

.navbar-footer {
    color: #70757a;
    position: fixed;
    height: 47px;
    background-color: #f2f2f2;  
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

footer {
    display: grid;
    grid-template-columns: auto auto;
}

.footer-container-navbar-left {
    display: flex;
    padding-top: 13px;
}

#nav-advertising {
    color: #70757a;
    font-size: 14px;
    font-family: arial,sans-serif;
    letter-spacing: 0.00175em;
    padding-left: 35px;
    text-decoration: none;
}

#nav-advertising:hover {
    text-decoration: underline;
}

#nav-business {
    color: #70757a;
    font-size: 14px;
    font-family: arial,sans-serif;
    letter-spacing: 0.00175em;
    padding-left: 29.75px;
    text-decoration: none;
}

#nav-business:hover {
    text-decoration: underline;
}

#nav-how-search-works {
    color: #70757a;
    font-size: 14px;
    font-family: arial,sans-serif;
    letter-spacing: 0.00175em;
    padding-left: 29.75px;
    text-decoration: none;
}

#nav-how-search-works:hover {
    text-decoration: underline;
}

.footer-container-navbar-right {
    display: flex;
    padding-top: 13px;
}

.end-navbar-footer {
    justify-self: end;
}

#nav-privacy {
    color: #70757a;
    font-size: 14px;
    font-family: arial,sans-serif;
    letter-spacing: 0.00175em;
    padding-right: 29.75px;
    text-decoration: none;
}

#nav-privacy:hover {
    text-decoration: underline;
}

#nav-terms {
    color: #70757a;
    font-size: 14px;
    font-family: arial,sans-serif;
    letter-spacing: 0.00175em;
    padding-right: 29.75px;
    text-decoration: none;
}

#nav-terms:hover {
    text-decoration: underline;
}

#nav-settings {
    color: #70757a;
    font-size: 14px;
    font-family: arial,sans-serif;
    letter-spacing: 0.00175em;
    padding-right: 35px;
    text-decoration: none;
}

#nav-settings:hover {
    text-decoration: underline;
}